---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'

const {
	id,
	data: { title, pubDate, heroImage },
	slug
} = Astro.props
---

<a
	class='flex flex-col bg-white rounded-xl shadow overflow-hidden golden-ratio'
	href={`/blog/${slug}/`}
>
	<Image
		src={heroImage}
		format='webp'
		class='w-full aspect-video object-cover'
		alt={`img of ${title}`}
	/>
	<div class='flex flex-col justify-between flex-grow p-4'>
		<h3 class='text-lg text-[#1d1d1f] font-bold'>{title}</h3>
		<p class='text-[#6e6e73]'><FormattedDate date={pubDate} /></p>
	</div>
</a>
